div {
  margin-bottom: 20px;
  button {
    border-radius: 4px;
    flex: 1;
    padding: 10px 20px;
    text-align: center;
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
  }
}