<div>
  <h1>Host (Click)</h1>
  <button (click)="openModal($event)">Open Modal</button>
</div>

<div>
  <h1>Host (ReSize)</h1>
  <p #resize>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aspernatur
    quis voluptatibus? Suscipit illo incidunt amet eum quis autem! A!
  </p>
</div>

<div>
  <h1>Host (Scroll)</h1>
  <p #scroll>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptates
    iure maxime laudantium, optio tempora neque quia amet iusto necessitatibus
    nisi totam atque ad molestias explicabo eos doloremque vitae nobis
    perspiciatis ullam tempore, nihil architecto nostrum fugiat. Corporis
    assumenda aliquam facere eligendi itaque ut tempora voluptatum sed
    repellendus ad fugiat, illum excepturi, maxime vitae labore? Voluptatum vel
    dolorem neque eius corporis velit, et repellat dolorum consectetur saepe
    ipsam recusandae iste asperiores tenetur adipisci. Nemo eos rerum architecto
    animi quas magni eveniet harum quasi maiores, fugiat assumenda, doloribus
    iste? Eveniet hic nulla itaque perspiciatis delectus repellat distinctio
    eius tenetur. Recusandae ad pariatur consectetur temporibus, nisi soluta
    eligendi tempora. Molestiae error nesciunt numquam iusto quaerat expedita
    odio aliquam sed fugiat! Sed dignissimos similique rerum cumque repudiandae
    quasi! Omnis similique, odio officia consequatur saepe officiis tenetur
    dicta nostrum commodi amet pariatur dolorem aspernatur, tempore repellendus
    suscipit maxime labore architecto? Atque vitae magni debitis recusandae
    libero temporibus laudantium qui reprehenderit consequuntur ipsa officia
    deleniti suscipit autem cumque, possimus est quia. Provident eius quibusdam
    velit debitis laborum incidunt modi non aperiam, ipsam excepturi dolores
    blanditiis. Quaerat quis natus dicta blanditiis accusantium error nulla
    minus officia ullam soluta doloremque reprehenderit sint, doloribus itaque
    odio totam laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Illo voluptates iure maxime laudantium, optio tempora neque quia amet iusto
    necessitatibus nisi totam atque ad molestias explicabo eos doloremque vitae
    nobis perspiciatis ullam tempore, nihil architecto nostrum fugiat. Corporis
    assumenda aliquam facere eligendi itaque ut tempora voluptatum sed
    repellendus ad fugiat, illum excepturi, maxime vitae labore? Voluptatum vel
    dolorem neque eius corporis velit, et repellat dolorum consectetur saepe
    ipsam recusandae iste asperiores tenetur adipisci. Nemo eos rerum architecto
    animi quas magni eveniet harum quasi maiores, fugiat assumenda, doloribus
    iste? Eveniet hic nulla itaque perspiciatis delectus repellat distinctio
    eius tenetur. Recusandae ad pariatur consectetur temporibus, nisi soluta
    eligendi tempora. Molestiae error nesciunt numquam iusto quaerat expedita
    odio aliquam sed fugiat! Sed dignissimos similique rerum cumque repudiandae
    quasi! Omnis similique, odio officia consequatur saepe officiis tenetur
    dicta nostrum commodi amet pariatur dolorem aspernatur, tempore repellendus
    suscipit maxime labore architecto? Atque vitae magni debitis recusandae
    libero temporibus laudantium qui reprehenderit consequuntur ipsa officia
    deleniti suscipit autem cumque, possimus est quia. Provident eius quibusdam
    velit debitis laborum incidunt modi non aperiam, ipsam excepturi dolores
    blanditiis. Quaerat quis natus dicta blanditiis accusantium error nulla
    minus officia ullam soluta doloremque reprehenderit sint, doloribus itaque
    odio totam laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Illo voluptates iure maxime laudantium, optio tempora neque quia amet iusto
    necessitatibus nisi totam atque ad molestias explicabo eos doloremque vitae
    nobis perspiciatis ullam tempore, nihil architecto nostrum fugiat. Corporis
    assumenda aliquam facere eligendi itaque ut tempora voluptatum sed
    repellendus ad fugiat, illum excepturi, maxime vitae labore? Voluptatum vel
    dolorem neque eius corporis velit, et repellat dolorum consectetur saepe
    ipsam recusandae iste asperiores tenetur adipisci. Nemo eos rerum architecto
    animi quas magni eveniet harum quasi maiores, fugiat assumenda, doloribus
    iste? Eveniet hic nulla itaque perspiciatis delectus repellat distinctio
    eius tenetur. Recusandae ad pariatur consectetur temporibus, nisi soluta
    eligendi tempora. Molestiae error nesciunt numquam iusto quaerat expedita
    odio aliquam sed fugiat! Sed dignissimos similique rerum cumque repudiandae
    quasi! Omnis similique, odio officia consequatur saepe officiis tenetur
    dicta nostrum commodi amet pariatur dolorem aspernatur, tempore repellendus
    suscipit maxime labore architecto? Atque vitae magni debitis recusandae
    libero temporibus laudantium qui reprehenderit consequuntur ipsa officia
    deleniti suscipit autem cumque, possimus est quia. Provident eius quibusdam
    velit debitis laborum incidunt modi non aperiam, ipsam excepturi dolores
    blanditiis. Quaerat quis natus dicta blanditiis accusantium error nulla
    minus officia ullam soluta doloremque reprehenderit sint, doloribus itaque
    odio totam laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Illo voluptates iure maxime laudantium, optio tempora neque quia amet iusto
    necessitatibus nisi totam atque ad molestias explicabo eos doloremque vitae
    nobis perspiciatis ullam tempore, nihil architecto nostrum fugiat. Corporis
    assumenda aliquam facere eligendi itaque ut tempora voluptatum sed
    repellendus ad fugiat, illum excepturi, maxime vitae labore? Voluptatum vel
    dolorem neque eius corporis velit, et repellat dolorum consectetur saepe
    ipsam recusandae iste asperiores tenetur adipisci. Nemo eos rerum architecto
    animi quas magni eveniet harum quasi maiores, fugiat assumenda, doloribus
    iste? Eveniet hic nulla itaque perspiciatis delectus repellat distinctio
    eius tenetur. Recusandae ad pariatur consectetur temporibus, nisi soluta
    eligendi tempora. Molestiae error nesciunt numquam iusto quaerat expedita
    odio aliquam sed fugiat! Sed dignissimos similique rerum cumque repudiandae
    quasi! Omnis similique, odio officia consequatur saepe officiis tenetur
    dicta nostrum commodi amet pariatur dolorem aspernatur, tempore repellendus
    suscipit maxime labore architecto? Atque vitae magni debitis recusandae
    libero temporibus laudantium qui reprehenderit consequuntur ipsa officia
    deleniti suscipit autem cumque, possimus est quia. Provident eius quibusdam
    velit debitis laborum incidunt modi non aperiam, ipsam excepturi dolores
    blanditiis. Quaerat quis natus dicta blanditiis accusantium error nulla
    minus officia ullam soluta doloremque reprehenderit sint, doloribus itaque
    odio totam laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Illo voluptates iure maxime laudantium, optio tempora neque quia amet iusto
    necessitatibus nisi totam atque ad molestias explicabo eos doloremque vitae
    nobis perspiciatis ullam tempore, nihil architecto nostrum fugiat. Corporis
    assumenda aliquam facere eligendi itaque ut tempora voluptatum sed
    repellendus ad fugiat, illum excepturi, maxime vitae labore? Voluptatum vel
    dolorem neque eius corporis velit, et repellat dolorum consectetur saepe
    ipsam recusandae iste asperiores tenetur adipisci. Nemo eos rerum architecto
    animi quas magni eveniet harum quasi maiores, fugiat assumenda, doloribus
    iste? Eveniet hic nulla itaque perspiciatis delectus repellat distinctio
    eius tenetur. Recusandae ad pariatur consectetur temporibus, nisi soluta
    eligendi tempora. Molestiae error nesciunt numquam iusto quaerat expedita
    odio aliquam sed fugiat! Sed dignissimos similique rerum cumque repudiandae
    quasi! Omnis similique, odio officia consequatur saepe officiis tenetur
    dicta nostrum commodi amet pariatur dolorem aspernatur, tempore repellendus
    suscipit maxime labore architecto? Atque vitae magni debitis recusandae
    libero temporibus laudantium qui reprehenderit consequuntur ipsa officia
    deleniti suscipit autem cumque, possimus est quia. Provident eius quibusdam
    velit debitis laborum incidunt modi non aperiam, ipsam excepturi dolores
    blanditiis. Quaerat quis natus dicta blanditiis accusantium error nulla
    minus officia ullam soluta doloremque reprehenderit sint, doloribus itaque
    odio totam laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Illo voluptates iure maxime laudantium, optio tempora neque quia amet iusto
    necessitatibus nisi totam atque ad molestias explicabo eos doloremque vitae
    nobis perspiciatis ullam tempore, nihil architecto nostrum fugiat. Corporis
    assumenda aliquam facere eligendi itaque ut tempora voluptatum sed
    repellendus ad fugiat, illum excepturi, maxime vitae labore? Voluptatum vel
    dolorem neque eius corporis velit, et repellat dolorum consectetur saepe
    ipsam recusandae iste asperiores tenetur adipisci. Nemo eos rerum architecto
    animi quas magni eveniet harum quasi maiores, fugiat assumenda, doloribus
    iste? Eveniet hic nulla itaque perspiciatis delectus repellat distinctio
    eius tenetur. Recusandae ad pariatur consectetur temporibus, nisi soluta
    eligendi tempora. Molestiae error nesciunt numquam iusto quaerat expedita
    odio aliquam sed fugiat! Sed dignissimos similique rerum cumque repudiandae
    quasi! Omnis similique, odio officia consequatur saepe officiis tenetur
    dicta nostrum commodi amet pariatur dolorem aspernatur, tempore repellendus
    suscipit maxime labore architecto? Atque vitae magni debitis recusandae
    libero temporibus laudantium qui reprehenderit consequuntur ipsa officia
    deleniti suscipit autem cumque, possimus est quia. Provident eius quibusdam
    velit debitis laborum incidunt modi non aperiam, ipsam excepturi dolores
    blanditiis. Quaerat quis natus dicta blanditiis accusantium error nulla
    minus officia ullam soluta doloremque reprehenderit sint, doloribus itaque
    odio totam laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Illo voluptates iure maxime laudantium, optio tempora neque quia amet iusto
    necessitatibus nisi totam atque ad molestias explicabo eos doloremque vitae
    nobis perspiciatis ullam tempore, nihil architecto nostrum fugiat. Corporis
    assumenda aliquam facere eligendi itaque ut tempora voluptatum sed
    repellendus ad fugiat, illum excepturi, maxime vitae labore? Voluptatum vel
    dolorem neque eius corporis velit, et repellat dolorum consectetur saepe
    ipsam recusandae iste asperiores tenetur adipisci. Nemo eos rerum architecto
    animi quas magni eveniet harum quasi maiores, fugiat assumenda, doloribus
    iste? Eveniet hic nulla itaque perspiciatis delectus repellat distinctio
    eius tenetur. Recusandae ad pariatur consectetur temporibus, nisi soluta
    eligendi tempora. Molestiae error nesciunt numquam iusto quaerat expedita
    odio aliquam sed fugiat! Sed dignissimos similique rerum cumque repudiandae
    quasi! Omnis similique, odio officia consequatur saepe officiis tenetur
    dicta nostrum commodi amet pariatur dolorem aspernatur, tempore repellendus
    suscipit maxime labore architecto? Atque vitae magni debitis recusandae
    libero temporibus laudantium qui reprehenderit consequuntur ipsa officia
    deleniti suscipit autem cumque, possimus est quia. Provident eius quibusdam
    velit debitis laborum incidunt modi non aperiam, ipsam excepturi dolores
    blanditiis. Quaerat quis natus dicta blanditiis accusantium error nulla
    minus officia ullam soluta doloremque reprehenderit sint, doloribus itaque
    odio totam laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Illo voluptates iure maxime laudantium, optio tempora neque quia amet iusto
    necessitatibus nisi totam atque ad molestias explicabo eos doloremque vitae
    nobis perspiciatis ullam tempore, nihil architecto nostrum fugiat. Corporis
    assumenda aliquam facere eligendi itaque ut tempora voluptatum sed
    repellendus ad fugiat, illum excepturi, maxime vitae labore? Voluptatum vel
    dolorem neque eius corporis velit, et repellat dolorum consectetur saepe
    ipsam recusandae iste asperiores tenetur adipisci. Nemo eos rerum architecto
    animi quas magni eveniet harum quasi maiores, fugiat assumenda, doloribus
    iste? Eveniet hic nulla itaque perspiciatis delectus repellat distinctio
    eius tenetur. Recusandae ad pariatur consectetur temporibus, nisi soluta
    eligendi tempora. Molestiae error nesciunt numquam iusto quaerat expedita
    odio aliquam sed fugiat! Sed dignissimos similique rerum cumque repudiandae
    quasi! Omnis similique, odio officia consequatur saepe officiis tenetur
    dicta nostrum commodi amet pariatur dolorem aspernatur, tempore repellendus
    suscipit maxime labore architecto? Atque vitae magni debitis recusandae
    libero temporibus laudantium qui reprehenderit consequuntur ipsa officia
    deleniti suscipit autem cumque, possimus est quia. Provident eius quibusdam
    velit debitis laborum incidunt modi non aperiam, ipsam excepturi dolores
    blanditiis. Quaerat quis natus dicta blanditiis accusantium error nulla
    minus officia ullam soluta doloremque reprehenderit sint, doloribus itaque
    odio totam laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Illo voluptates iure maxime laudantium, optio tempora neque quia amet iusto
    necessitatibus nisi totam atque ad molestias explicabo eos doloremque vitae
    nobis perspiciatis ullam tempore, nihil architecto nostrum fugiat. Corporis
    assumenda aliquam facere eligendi itaque ut tempora voluptatum sed
    repellendus ad fugiat, illum excepturi, maxime vitae labore? Voluptatum vel
    dolorem neque eius corporis velit, et repellat dolorum consectetur saepe
    ipsam recusandae iste asperiores tenetur adipisci. Nemo eos rerum architecto
    animi quas magni eveniet harum quasi maiores, fugiat assumenda, doloribus
    iste? Eveniet hic nulla itaque perspiciatis delectus repellat distinctio
    eius tenetur. Recusandae ad pariatur consectetur temporibus, nisi soluta
    eligendi tempora. Molestiae error nesciunt numquam iusto quaerat expedita
    odio aliquam sed fugiat! Sed dignissimos similique rerum cumque repudiandae
    quasi! Omnis similique, odio officia consequatur saepe officiis tenetur
    dicta nostrum commodi amet pariatur dolorem aspernatur, tempore repellendus
    suscipit maxime labore architecto? Atque vitae magni debitis recusandae
    libero temporibus laudantium qui reprehenderit consequuntur ipsa officia
    deleniti suscipit autem cumque, possimus est quia. Provident eius quibusdam
    velit debitis laborum incidunt modi non aperiam, ipsam excepturi dolores
    blanditiis. Quaerat quis natus dicta blanditiis accusantium error nulla
    minus officia ullam soluta doloremque reprehenderit sint, doloribus itaque
    odio totam laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Illo voluptates iure maxime laudantium, optio tempora neque quia amet iusto
    necessitatibus nisi totam atque ad molestias explicabo eos doloremque vitae
    nobis perspiciatis ullam tempore, nihil architecto nostrum fugiat. Corporis
    assumenda aliquam facere eligendi itaque ut tempora voluptatum sed
    repellendus ad fugiat, illum excepturi, maxime vitae labore? Voluptatum vel
    dolorem neque eius corporis velit, et repellat dolorum consectetur saepe
    ipsam recusandae iste asperiores tenetur adipisci. Nemo eos rerum architecto
    animi quas magni eveniet harum quasi maiores, fugiat assumenda, doloribus
    iste? Eveniet hic nulla itaque perspiciatis delectus repellat distinctio
    eius tenetur. Recusandae ad pariatur consectetur temporibus, nisi soluta
    eligendi tempora. Molestiae error nesciunt numquam iusto quaerat expedita
    odio aliquam sed fugiat! Sed dignissimos similique rerum cumque repudiandae
    quasi! Omnis similique, odio officia consequatur saepe officiis tenetur
    dicta nostrum commodi amet pariatur dolorem aspernatur, tempore repellendus
    suscipit maxime labore architecto? Atque vitae magni debitis recusandae
    libero temporibus laudantium qui reprehenderit consequuntur ipsa officia
    deleniti suscipit autem cumque, possimus est quia. Provident eius quibusdam
    velit debitis laborum incidunt modi non aperiam, ipsam excepturi dolores
    blanditiis. Quaerat quis natus dicta blanditiis accusantium error nulla
    minus officia ullam soluta doloremque reprehenderit sint, doloribus itaque
    odio totam laborum.
  </p>
</div>
